:root {
    --menu-bar-width: 60px;
    --menu-bar-height: 10px;
}

#menu {
    background-color: #D84282;
    position: relative;
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    margin: 10px;
    margin-left: -10px;
}

#menu::before,
#menu::after {
    background-color: #D84282;
    display: block;
    content: "";
    width: var(--menu-bar-width);
    height: var(--menu-bar-height);
    position: absolute;
}

#menu::before {
    left: 0;
    top: -20px;
}

#menu::after {
    left: 0;
    top: 20px;
}


.hamburger-container {
    border: 2px solid green;
    width: 40px;
    height: 30px;
    padding: 20px;
}

.hamburger-container:hover #menu {
    background-color: transparent;
    transition: all 1s ease 0s;
}

.hamburger-container:hover #menu::before {
    margin-top: 20px;
    transform: rotate(45deg);
    transition: all 1s ease 0s;
}

.hamburger-container:hover #menu::after {
    margin-top: -20px;
    transform: rotate(-45deg);
    transition: all 1s ease 0s;
}